:root {
  --primary: #f1f3f5;
  --primary-shade: #dee2e6;
  --primary-tint: #f1f3f5;
  --white: #fff;
  --black: #000;
  --green: #51cf66;
  --green-tint: #ebfbee;
  --orange: #ffa94d;
  --ornage-tint: #fff3bf;
  --text-h1: 4.8rem;
  --text-h2: 3.4rem;
  --text-paragraph-lg: 2rem;
  --text-paragraph-md: 1.6rem;
  --text-paragraph-sm: 1.4rem;
  --text-base: 1.2rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  
  margin:2rem 0rem;
  
  font-size: var(--text-base);
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

main{
  /* flex: 1; */
  width: 100%;
}

.main-container {
  background-color: var(--primary);
  padding: 3rem;
  border-radius: 8px;
 
  gap: 2rem;
  width: 100%;
  display: flex;
 
}

img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/********* SIDEBAR  ***********/

.side-bar {
  width: 300px;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comp-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  background-color: var(--white);
  border-radius: 8px;
  gap: 5px;
  font-size: var(--text-paragraph-md);
  margin-bottom: 2.5rem;
  font-weight: var(--font-weight-bold);
}

.sidebar-section1 li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: var(--text-paragraph-sm);
  margin-bottom: 3.5rem;
  padding: 1rem 1rem;
  transition: 0.5s ease;
}

.sidebar-section1 li:last-child {
  margin-bottom: 5rem;
}

li:hover {
  background-color: #f8f9fa;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 10px 0px var(--primary-shade);
  display: flex;
}


/* Icon being displayed */
li:hover .dropdown {
  display: inline;
} 

.sidebar-section2 li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: var(--text-paragraph-sm);
  margin-bottom: 2rem;
  align-self: flex-end;
  padding: 1rem 2rem;
  transition: 0.5s ease;
}

.sidebar-item {
  display: flex;
  gap: 2rem;
}

.dropdown {
  display: none;
}

.event-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn-external {
  padding: 0.1rem 0.5rem;
  color: #ffa94d;
  border: 1px solid #ffa94d;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 2.6rem;
}

/********* NAVBAR  ***********/
nav {
  background-color: var(--white);
  display: flex;
  height: 7rem;
  width: 100%;
 
  justify-content: space-between;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: var(--text-paragraph-md);
}

.nav-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.admin-name {
  font-weight: var(--font-weight-bold);
}

/********* SECTION  ***********/

section {
  background-color: var(--white);
  padding: 2.5rem 1rem;
  border-radius: 8px;
}

h2 {
  font-weight: var(--font-weight-normal);
  font-size: var(--text-paragraph-lg);
  margin-bottom: 1rem;
}

.payment-container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.payment-history {
  background-color: var(--primary-tint);
  border-radius: 8px;
  width: 100%;
  padding: 2rem;
}

.revenue-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.price {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-paragraph-lg);
  margin-bottom: 2rem;
}

.perfomace-text {
  color: #868e96;
  font-size: var(--text-base);
}

/********* SECTION  ***********/

.transactions {
  margin-bottom: 20rem;
}

.transactio-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  font-size: var(--text-paragraph-md);
}

h3 + p {
  font-size: var(--text-paragraph-sm);
}

.transaction-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.music-logo {
  border: 1px solid var(--black);
  padding: 0.2rem;
  border-radius: 4px;
}

.btn-dropdown {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1.2rem;
  background-color: var(--primary-tint);
  font-size: var(--text-paragraph-sm);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.table-card {
  border: 1px solid var(--primary-tint);
  border-radius: 8px;
}
table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  border-collapse: collapse;
}

thead {
  background-color: var(--primary-tint);
}

th {
  padding: 2rem;
  font-weight: var(--font-weight-normal);
  text-align: left;
}

td {
  padding: 2rem;
}

/* .status-container{
  display: flex;
  align-content: flex-end;
  justify-content: center;
  text-align: center;
 } */

.status {
  border-radius: 50px;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  gap: 0.2rem;
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
}

td,
th {
  vertical-align: middle;
}
td:last-child,
th:last-child {
  text-align: left;
}

/* Make table rows have bottom border except the last row */
tbody tr:not(:last-child) td {
  border-bottom: 1px solid #dee2e6; /* or your color */
}

.completed {
  border: 1px solid var(--green);
  color: var(--green);
  background-color: var(--green-tint);
  align-self: center;
}

.pending {
  border: 1px solid var(--orange);
  color: var(--orange);
  background-color: var(--ornage-tint);
  align-self: flex-end;
}
